In [22]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('BU_MBA_salaries.csv')
dataset.head()

   Gmat Total  GPA  Work Experience  App Type  Graduating GPA
0         750  4.0                3       1.0             4.0
1         750  3.5                6       2.0             4.0
2         650  3.6                3       3.0             3.9
3         660  3.4                4       4.0             3.9
4         660  4.0                3       5.0             3.9

In [24]:
X = pd.DataFrame(dataset.iloc[:,:-1])
X

     Gmat Total  GPA  Work Experience  App Type
0           750  4.0                3       1.0
1           750  3.5                6       2.0
2           650  3.6                3       3.0
3           660  3.4                4       4.0
4           660  4.0                3       5.0
..          ...  ...              ...       ...
551         740  2.9                9       5.0
552         740  3.1                0       5.0
553         750  3.4                6       5.0
554         650  3.1                5       7.0
555         690  2.7                2       4.0

[556 rows x 4 columns]

In [25]:
y = pd.DataFrame(dataset.iloc[:,-1])
y

     Graduating GPA
0               4.0
1               4.0
2               3.9
3               3.9
4               3.9
..              ...
551             3.0
552             3.0
553             3.0
554             2.9
555             2.8

[556 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [30]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

/var/folders/k0/p0ww8sg97vz3gr52d8j0rq6r0000gn/T/ipykernel_1755/2991378890.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Absolute Error:',np.sqrt(metrics.mean_absolute_error(y_test,y_pred)))